

.tituloPrincipal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}
.principal{
    background: #CCCCCC;
    padding: 20px;
}
p{
    text-align: center;
    background: #9c9c9c;
}

.tituloCentralizado{
   text-align: center;
}

em strong{
    color: red;
}
#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 50%;
}